
.review {
  background: rgb(138, 119, 219);
  height: 55vh;
  width: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 5px 5px 5px #32917d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.review__items img {
  height: 30vh;
  width: auto;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
  margin-bottom: 10px;
  display: block; /* Ensures the image behaves as a block-level element */
  margin-left: auto; /* Automatically adjust left margin */
  margin-right: auto; /* Automatically adjust right margin */
}

.review__items h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 74px;
  text-align: center;
  margin-bottom: 20px;
}

.review__items p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.review__button {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  margin-top: 80px;
}

.review__button button {
  padding: 30px 30px;
  border: 1px solid rgb(16, 25, 89);
  font-size: 50px;
  background: rgb(4, 7, 15);
  color: rgb(192, 229, 192);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px; /* Space between the buttons */
}
